@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
}

body {
    max-width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    background-image: linear-gradient( 115deg, rgba(61, 61, 139, 0.8), rgba(136, 136, 206, 0.7) ), url(img/body-background.jpg);
}

.header {
    margin-bottom: 2rem;
}
#title {
    text-align: center;
    font-weight:200;
    font-size: 32px;
    padding-top: 50px;
}

.description {
    text-align: center;
    font-weight:300;
    font-size: 18px;
}

.formulario {
    width: 50%;
    height: auto;
    background-color: rgba(42, 42, 73, 0.9);
    margin: 0 auto;
    border-radius: 10px;
    padding: 2.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.error-text {
    font-size: 16px;
    color: red;
}

p {
    font-size: 18px;
}
label {
    font-size: 1.1rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 5px;

}

input {
    height: 2rem;
    border-radius: 3px;
    border: none;
    padding-left: 15px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

input::placeholder {
    font-size: 1.2rem;

}

#dropdown {
    height: 2.5rem;
    font-size: 1.2rem;
    color: #7D7D7D;
    border: 1px #7D7D7D solid;
    border-radius: 3px;
    padding-left: 11px;
}

.input-radio {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.input-textarea {
    border-radius: 5px;
    font-size: 1.2rem;
}
textarea::placeholder {
    font-size: 1.1rem;
}

.btn-submit {
    height: 2.5rem;
    font-size: 1.1rem;
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(151, 134, 206);
    color: #fff;
    transition: 500ms;
}

.btn-submit:hover {
    background-color: rgb(92, 65, 182);
    transition: 500ms;
}